{% extends 'base.html'%}{% block title %}{{idz}} edit log{% endblock %}

{% block content %}

<br>
    <h1 align="left">Update data</h1>
    <br><br>
    <form method="POST">
        <div class="form-group">
            <label for="time_stamp">When</label>
            <input type="datetime-local" 
            class="form-control" 
            id="time_stampe"
            name="time_stampe"
            placeholder="select date and time">
        </div>
            {% for i in user.trackers %}
            {% if (i.tracker_type)=='Multiple Choice' and (i.tracker_name)==idz %}
            <div class="form-group">
            <label for="tracker_type">value</label>
            <select class="form-control" 
            id="valuee"
            name="valuee">
            {% set list1 = i.settings.split(',') %}
            {% for item in list1 %}
            <option>{{ item }}</option>
            {% endfor %} 
            </select>
            </div>
            {% endif %}
            {% endfor %}
    
            {% for i in user.trackers %}
            {% if (i.tracker_type)=='Numerical' and (i.tracker_name)==idz %}
            <div class="form-group">
                <label for="tracker_type">Value</label>
                <input type="text"
                class="form-control"
                id="valuee"
                name="valuee"
                placeholder="enter value">
            </div>
            {% endif %}
            {% endfor %}
    
            {% for i in user.trackers %}
            {% if (i.tracker_type)=='Time Duration' and (i.tracker_name)==idz %}
            <div class="form-group">
                <label for="tracker_type">Value</label>
                <input type="text"
                class="form-control"
                id="valuee"
                name="valuee"
                placeholder="enter value in minutes">
            </div>
            {% endif %}
            {% endfor %}
    
            {% for i in user.trackers %}
            {% if (i.tracker_type)=='Boolean' and (i.tracker_name)==idz %}
            <div class="form-group">
                <label for="tracker_type">Value</label>
                <select class="form-control" 
                id="valuee"
                name="valuee">
                <option>Yes</option>
                <option>No</option>
                </select>
            </div>
            {% endif %}
            {% endfor %}
    
    
        <div class="form-group">
        <label for="note">Notes</label>
        <input type="string" 
        class="form-control" 
        id="notee"
        name="notee" 
        placeholder="Add a short note about your entry">
      </div>
      <button type="submit" class="btn btn-primary">Log it</button>
    </form>

{% endblock %}